<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ver1">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.home.Shop.ShopActivity"
            android:windowSoftInputMode="adjustPan"></activity> <!-- 키보드 화면 고정 -->
        <activity android:name=".ui.Admin.AdminActivity"></activity>
        <activity android:name=".ui.Admin.ConfigActivity"></activity>
        <activity android:name=".ui.Admin.UpdateActivity"></activity>
        <activity android:name=".ui.Admin.Openbook"></activity>
        <activity android:name=".ui.Admin.QuestionActivity"></activity>
        <activity android:name=".ui.Admin.AdminActivityLogin"></activity>
        <activity android:name=".ui.login.MemberInitActivity"></activity>
        <activity android:name=".ui.login.PasswordResetActivity"></activity>
        <activity android:name=".ui.login.LoginActivity"></activity>
        <activity android:name=".ui.login.SignUpActivity"></activity>
        <activity android:name=".ui.dashboard.ReviewEditActivity"></activity>
        <activity
            android:name=".ui.home.EyeBrow.EyebrowActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.Astetic.AsteticActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />

        <activity
            android:name=".ui.info.interdesigner.InterdesignerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.Shop.Shoplist.ReservationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.info.intershop.IntershopActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.more.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.Shop.ShopinfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.Shop.ShopfilterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.StroeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

                <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>